<div class="directory-sort">
  <div class="container">
    <ul class="nav justify-content-between">
      <li class="nav-item"><a href="#" routerLink="/grid">Grid</a></li>
      <li class="nav-item"><a href="#" routerLink="/list">List</a></li>
      <li class="nav-item"><a href="#" routerLink="/map">Map</a></li>
    </ul>
    <!-- <div class="sort-inner d-flex flex-wrap justify-content-between">
      <div class="sort-group order-md-1">
       
      </div>
      <div class="mt-10 lh-1 order-md-3"> <small> Vous n'avez pas d'idées ? Offrez <a href="btn btn-link" data-toggle="modal" data-target="#anywhere-modal"><u> un Boncado Anywhere</u></a> ou encore <a href="btn btn-link" data-toggle="modal" data-target="#city-modal"><u> un Boncado City</u></a>. </small> </div>
      <div id="sort-collapse" class="sort-group order-md-2">
        
      </div>
    </div> -->
  </div>
</div>

